#barra_nav{
    font-size: 30px;

}

#nombre{
    font-size: 70px;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: crimson ;
}

#uno{
    background-color: crimson;
}

img{
    padding: 20px;
}

#dos{
    background-color: rgb(138, 16, 41);
}